<html>
<head>
<title>RecipeMatcher</title>
</head>

<body>
<script type="text/javascript" src={{ url_for('static', filename="RecipeFinder.js") }}></script> 

	<a href='javascript:(function(){
	var id = document.querySelector("[data-dax-id]").getAttribute("data-dax-id");
	console.log(window.location.href);
	var win = window.open("http://localhost:5000/"+id, "_blank");
	win.focus();
	})();'>AH bookmarklet</a>




</body>
</html>