<html>
<head>
<title>RecipeMatcher</title>
<style>
tr {
	border: 1px solid black;
}
td, th {
	border-bottom: 1px solid black;
	vertical-align: top;
}
</style>
</head>

<body>
<script type="text/javascript" src={{ url_for('static', filename="tablesorter/jquery-latest.js") }}></script> 
<script type="text/javascript" src={{ url_for('static', filename="tablesorter/jquery.tablesorter.js") }}></script> 
<script>
$(document).ready(function() {
	$("#matchTable").tablesorter();
});
</script>
<table id="matchTable" class="tablesorter">
	<thead>
		<tr>
			<th>Recept</th>
			<th>Overeenkomsten</th>
			<th>Extra nodig</th>
			<th>Waardering</th>
			<th>Kooktijd</th>
		</tr>
	</thead>
	<tbody>
	{% for recipe in recipes %}
		<tr>
			<td><a href={{ recipe.url }}>{{ recipe.name }}</a></td>
			<td>
				{% for ingredient in recipe.matching %}
					{{ ingredient }}<br />
				{% endfor %}
			</td>
			<td>
				{% for ingredient in recipe.to_buy %}
					{{ ingredient }}<br />
				{% endfor %}
			</td>
			<td>{{ recipe.rating }}</td>
			<td>{{ recipe.cookingtime }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

</body>
</html>